@font-face{
    font-family: 'montserrat';
    src: url('../fonts/montserrat/Montserrat-Regular.ttf') format('truetype');
    font-weight: 400;
  }
@font-face{
    font-family: 'montserrat';
    src: url('../fonts/montserrat/Montserrat-SemiBold.ttf') format('truetype');
    font-weight: 500;
  }
@font-face{
    font-family: 'montserrat';
    src: url('../fonts/montserrat/Montserrat-Bold.ttf') format('truetype');
    font-weight: 700;
  }
@font-face{
    font-family: 'rubik';
    src: url('../fonts/rubik/Rubik-Regular.ttf') format('truetype');
    font-weight: 400;
  }